@page "/"
@layout SpecialLayout


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Bem-vindo</h1>
        </div>
        <div class="modal-body">
            <div class="form-group text-center">
                <button class="btn btn-primary custom-button" @onclick="NavigateToRegister">Registar</button>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-success custom-button" @onclick="NavigateToLogin">Entrar</button>
            </div>
        </div>
    </div>
</div>


@code {
    @inject NavigationManager NavigationManager

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/registar");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/entrar");
    }
}