@page "/home"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@using DataLayer.Watches
@using DataLayer.Cards

@using DataLayer.Cards;
@inject ICardRepository _db
@inject IWatchRepository WatchRepo

<PageTitle>Home</PageTitle>

<h1>Home</h1>

@if (_watches == null)
{
    <p>Loading watches...</p>
}
else
{
    <div class="grid">
        @foreach (var watch in _watches)
        {
            <CardComponent watch="watch" />
        }
    </div>
}

@code {

    private List<DataLayer.Watches.WatchModel> _watches;

    protected override async Task OnInitializedAsync()
    {
        _watches = await WatchRepo.GetAllClocksAsync();
    }

    //private List<DataLayer.CardModel> _cards;
    //protected override async Task OnInitializedAsync()
    //{
    //    _cards = await _db.FindAll();
    //}
}
