body {
    margin: 0;
    padding: 0;
}

.grid {
    margin: 0 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 0 10px;
    height: 100px;
}
