body {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex; /* Add this to make it a flex container */
    flex-direction: row; /* Change to row to align items horizontally */
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px; /* Adjust margin to create space between cards */
}
.card {
    margin: 0 10px;
    height: 100px;
}
