@page "/leiloar"
@using DataLayer.Watches

<PageTitle>Leiloar Relógio</PageTitle>

<h1>Leiloar Relógio</h1>

<body>
    <form>  
        <div class="flex-container">
    
            <div class="flex-item100percent">
                <h3>Adicione as informações relativas ao seu relógio</h3>
            </div>
    
            <div class="flex-item">
                <label>Modelo:</label>
                <input type="text" @bind="modelo" />
            </div>

            <div class="flex-item">
                <label>Número de série:</label>
                <input type="text" @bind="numeroSerie">
            </div>

            <div class="flex-item100percent">
                <label>Descrição:</label>
                <textarea @bind="descricao"></textarea>
            </div>

            <div class="flex-item100percent">
                <label>Fotos</label>
                <InputFile multiple OnChange="HandleFileInput" />
            </div>

            <div class="flex-item">
                <label>Marca:</label>
                <input type="text" @bind="marca" />
            </div>

            <div class="flex-item">
                <label>Estado de Conservação: </label>
                <input type="text" @bind="estadoConservacao">
            </div>

            <div class="flex-item" style="margin-bottom: 0">
                <label>Tem Caixa Original?</label>
                <div class="radio-options">
                    <div class="radio-option" data-value="true">
                        <input type="radio" id="temCaixaOriginalSim" name="temCaixaOriginal" value="true" checked />
                        <label for="temCaixaOriginalSim">Sim</label>
                    </div>
                    <div class="radio-option" data-value="false">
                        <input type="radio" id="temCaixaOriginalNao" name="temCaixaOriginal" value="false" />
                        <label for="temCaixaOriginalNao">Não</label>
                    </div>
                </div>
            </div>

            <div class="flex-item">
                <label>Ano de fabrico</label>
                <input type="number" @bind="anoFabrico">
            </div>

            <div class="flex-item">
                <label>Data e Hora de Início:</label>
                <input type="datetime-local" @bind="dataHoraInicio" />
            </div>
            <div class="flex-item">
                <label>Data de Fecho e Hora de Fecho:</label>
                <input type="datetime-local" @bind="dataHoraFecho" />
            </div>
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <button class="button-9" @onclick="CriarLeilao">
                Criar Leilão
            </button>
        </div>
    </form>
</body>



@inject IWatchRepository WatchRepo

@code {
    private string modelo;
    private string numeroSerie;
    private string descricao;
    private string marca;
    private string estadoConservacao;
    private bool temCaixaOriginal;
    private int anoFabrico;
    private bool relogioFunciona;
    private double precoBase;
    private DateTime dataHoraInicio;
    private DateTime dataHoraFecho;

    private byte[] imagemRelogio; // Alterada para ser um array de bytes

    private async Task HandleFileInput(InputFileChangeEventArgs e)
    {
        var file = e.File;

        using (var stream = file.OpenReadStream())
        {
            var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);
            imagemRelogio = memoryStream.ToArray();
        }
    }

    private async Task CriarLeilao()
    {

        Console.WriteLine("Iniciando a criação do leilão...");

        Console.WriteLine($"Modelo: {modelo}");
        Console.WriteLine($"Número de série: {numeroSerie}");
        Console.WriteLine($"Descrição: {descricao}");
        Console.WriteLine($"DataHoraInicio: {dataHoraInicio.ToString("yyyy-MM-dd HH:mm:ss")}");
        Console.WriteLine($"DataHoraFecho: {dataHoraFecho.ToString("yyyy-MM-dd HH:mm:ss")}");
        Console.WriteLine($"Tamanho da Imagem: {imagemRelogio.Length} bytes");

        // Crie um objeto WatchModel com os dados do formulário
        var novoRelogio = new WatchModel
            {
                Modelo = modelo,
                NumeroSerie = numeroSerie,
                Descricao = descricao,
                Imagem = imagemRelogio, // Agora, só uma imagem
                Marca = marca,
                EstadoConservacao = estadoConservacao,
                TemCaixaOriginal = temCaixaOriginal,
                AnoFabrico = anoFabrico,
                RelogioFunciona = relogioFunciona,
                PrecoBase = precoBase,
                DataHoraInicio = dataHoraInicio,
                DataHoraFecho = dataHoraFecho,
            };

        Console.WriteLine("Objeto WatchModel criado com sucesso.");

        Console.WriteLine("Bytes da Imagem antes de salvar na base de dados:");
        Console.WriteLine(BitConverter.ToString(imagemRelogio)); // Imprime os bytes

        // Adicione o relógio à base de dados usando o WatchRepository
        await WatchRepo.AddClockAsync(novoRelogio);

        Console.WriteLine("Leilão criado com sucesso.");
    }
}