@page "/perfil"

<div class="card">
    <div class="card-header">
        <h2>Perfil</h2>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="https://cdn.discordapp.com/attachments/1155884905989931151/1196878169794420787/luisinho.jpg?ex=65b93aa8&is=65a6c5a8&hm=fb7b15828d8d51e18b8ef74f2ecb8125ca0bdd9b83c8c412a9d1115d381009f6&" alt="Luisinho" class="img-fluid">
            </div>
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3 text-right">Nome:</dt>
                    <dd class="col-sm-9">Rei</dd>

                    <dt class="col-sm-3 text-right">Email:</dt>
                    <dd class="col-sm-9">rei@gmail.com</dd>

                    <dt class="col-sm-3 text-right">Telefone:</dt>
                    <dd class="col-sm-9">937TTMM</dd>

                    <dt class="col-sm-3 text-right">Endereço:</dt>
                    <dd class="col-sm-9">bila</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h2>Leilões Passados</h2>
    </div>
    <div class="card-body">
        <p>Leilão 1 ....</p>
        <p>Leilão 2 ....</p>
        <p>Leilão 3 ....</p>
    </div>
</div>