@page "/entrar"
@layout SpecialLayout
@inject NavigationManager NavigationManager

@using DataLayer.Utilizador
@inject IUtilizadorRepository _db;

<form action="/login" method="post" asp-modal="true" @onsubmit="LoginUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Entrar</h1>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Nome de Utilizador:</label>
                    <input type="text" id="username" name="username" placeholder="Username" class="form-control" @bind="username">
                </div>

                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Senha" class="form-control" @bind="password">
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
        </div>
    </div>
</form>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card mt-3" style="display: @(showMessageBox ? "block" : "none")">
            <div class="card-body text-center">
                <p>Palavra-passe ou e-mail inválido!</p>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        padding-top: 10px;
        width: 300px;
    }

    .card-body {
        padding: 0;
    }

    .modal-dialog {
        background-color: #ffffff;
        border: 1px solid #ccc;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .modal-body {
        padding: 20px;
    }

    .modal-footer {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        font-size: 16px;
        color: #333;
    }

    .modal-title {
        margin: 0;
    }

    .modal-header {
        background-color: #f7f7f7;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #ffffff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #ccc;
    }
</style>

@code {
    private string username;
    private string password;
    private bool showMessageBox = false;

    private async Task LoginUser()
    {
        Console.WriteLine("AQUI_____________________________________");
        Console.WriteLine($"nome: {username}");
        Console.WriteLine($"password: {password}");

        UtilizadorModel userFounded = await _db.Find(username);

        Console.WriteLine("Utilizador encontrado?: ");

        if (userFounded == null)
        {
            showMessageBox = true;
            StateHasChanged();

            await Task.Delay(2000);

            showMessageBox = false;
            StateHasChanged();
            Console.WriteLine("Não encontrei nada chefe, um grande abraço!");
        }
        else
        {
            Console.WriteLine("Id: " + userFounded.Id);
            Console.WriteLine("Username: " + userFounded.username);
            Console.WriteLine("password: " + userFounded.Id);
            Console.WriteLine("Avaliação: " + userFounded.avaliacaoMedia);
            Console.WriteLine("Num leilões: " + userFounded.numeroDeLeiloesFeitos);
            Console.WriteLine("Data de registo: " + userFounded.dataDeRegisto);

            NavigationManager.NavigateTo("/home");
        }
    }
}
