<!-- SuaPagina.razor -->
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<img src="https://cdn.discordapp.com/attachments/1155884905989931151/1196878169794420787/luisinho.jpg?ex=65b93aa8&is=65a6c5a8&hm=fb7b15828d8d51e18b8ef74f2ecb8125ca0bdd9b83c8c412a9d1115d381009f6&" alt="Luisinho">

<h2>Welcome to my website! I'm Lê</h2>
