@page "/register"
@using DataLayer.Utilizador
@inject IUtilizadorRepository _db

<h1>Registar</h1>

<form action="/register" method="post" asp-modal="true" @onsubmit="RegisterUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Endereço de e-mail:</p>
                <input type="email" name="email" placeholder="Endereço de e-mail" class="form-control" @bind ="nome">

                <p>Senha:</p>
                <input type="password" name="password" placeholder="Senha" class="form-control">

                <p>Confirmar senha:</p>
                <input type="password" name="confirmPassword" placeholder="Confirmar senha" class="form-control" @bind="password">
            </div>

            <div class="modal-footer">
                <input type="submit" value="Registar" class="btn btn-primary">
            </div>
        </div>
    </div>


    <style>
        .modal-dialog {
            background-color: #ffffff;
            border: 1px solid #ccc;
        }

        .modal-body {
            padding: 20px;
        }

        .form-control {
            font-size: 16px;
            color: #333;
        }

        .btn-primary {
            background-color: #007bff;
            color: #ffffff;
        }
    </style>
</form>

@code {
    private string nome;
    private string password;

    private async Task RegisterUser()
    {
        Console.WriteLine("AQUI-----------------------------------------------------");
        Console.WriteLine($"nome: {nome}");
        Console.WriteLine($"password: {password}");

        var novoUtilizador = new UtilizadorModel
            {
                username = nome,
                password = password,
                avaliacaoMedia = 0,
                numeroDeLeiloesFeitos = 0,
                dataDeRegisto = DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss")
            };

        await _db.Create(novoUtilizador);
    }
}